fastapi==0.133.0
geopandas==1.1.2
joblib==1.5.3
numpy==2.0.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.30.0
pandas-stubs==2.2.2.240909
pydantic==2.12.3
pydantic-settings==2.13.1
pydantic_core==2.41.4
sklearn-compat==0.1.5
sklearn-pandas==2.2.0
uvicorn==0.41.0
